body {
  font-family: 'Nunito', sans-serif;
  color: black;
  background: url('../assets/images/background.jpg');
  margin: 0;
}

h1 {
  font-size: 75px;
  margin: 0 auto;
  text-align: center;
  padding: 80px;
  margin: 0 auto 50px auto;
  background: hsla(30, 96%, 52%, 0.7);
  border-bottom: 3px solid #cf6b00;
  text-transform: uppercase;
  letter-spacing: 15px;
}

#container {
  width: 320px;
  margin: 0 auto 40px auto;
  background: black;
  padding: 20px;
  border-radius: 20px;
}

#calculations {
  font-family: 'Orbitron', sans-serif;
  height: 100px;
  background-color: #ed9c00;
  width: 292px;
  margin: 0 auto 10px auto;
  border-radius: 3px;
  padding: 10px;
  overflow: hidden;
  font-size: 25px;
  box-shadow:         inset 0 0 10px #000000;
}

#x {
  display: inline;
}

#y {
  display: inline;
}

#operation {
  display: inline;
}

#result {
  font-size: 30px;
}

button {
  height: 70px;
  width: 70px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  margin: 3px;
}

.clear {
  width: 232px;
}

.equals {
  width: 150px;
  background-color: orange;
}
